.modal {
    height: 100vh;
    width: 100vmax;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 80px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    height: 600px;
    width: 1000px;
    display: flex;
}

.modal__content.active {
    transform: scale(1);
    display: flex;
}

img.bad {
    height: 250px;
    padding-top: 20px;
}

.badContent {
    background-color: #F76B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    border-radius: 12px;
}

.issue {
    font-family: "Poiret One", sans-serif;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

div.issue {
    font-weight: 32px;
}

.inner {
    justify-content: center;
}