.modal {
    height: 100vh;
    width: 100vmax;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 80px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    height: 600px;
    width: 1000px;
    display: flex;
}

.modal__content.active {
    transform: scale(1);
    display: flex;
}

.wrapper {
    border-top: 2px #B3B3B3 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftBlock {
    display: flex;
}

.scroll {
    height: 450px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x:hidden;
}


.buttons-container {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
  }
  .button {
    border: 1px solid #000;
    background: transparent;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.category {
    color: #64748b;
    font-size: 10px;
  }
  
.button.active {
    background-color: #1e293b;
    color: #fff;
    min-width: 600px;
}