.uglyImg {
    width: 140px;
    margin: 16px;
}

.wrapper {
    border-top: 2px #B3B3B3 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 150px;
}

.iron {
    margin: 0;
    color: #838383;
}

.rightBlock {
    padding-left: 100px;
}

.price {
    text-align: center;
    font-family: "Play", sans-serif;
    font-size: 20px;
}

.delete {
    border: 0;
    background-color: white;
    transition: 0.4s;
    font-family: "Poiret One", sans-serif;
}

.delete:hover {
    text-decoration: underline;
    transition: 0.4s;
}

.name {
    display: flex;
}

.rename {
    border: 0;
    background-color: white;
    font-size: 28px;
    font-family: "Play", sans-serif;
}

.renameBtn {
    margin-left: 2px;
    background-color: white;
    border: none;
}

.renameImg {
    transition: 0.5s;
}

.renameImg:hover {
    background-color: #cde8f7;
    border-radius: 8px;
    transition: 0.5s;
}

.leftBlock {
    display: flex;
}